.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-flat-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 2.0em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  font-size: 15px;
}

.btn-flat-border:hover {
  background: #00bcd4;
  color: white;
}

.number-box {
  padding: 0.5em 0.5em;
  font-weight: bold;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  line-height: normal;
  text-align: right;
}
.number-box p {
  margin: 0; 
  padding: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
